// color palette - these colors will be the color swatches of the Colors section

$color-1: #118AB2; // Blue - Action color
$color-2: #073B4C; // Blue alt
$color-3: #EF476F; // Red
$color-4: #FFD166; // yellow
$color-5: #ffffff; // white

// additional colors

$success: #06D6A0; // green
$alert: $color-3; // red

